body
{
    text-align: center;
    margin: 2px;
    padding: 2px;
}
#container
{
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    border: 1px solid #000;
    margin: 0 auto;
    padding: 1em;
}
